body {
    background-color: White;
    color: Black;
    font: 69% Futura,Arial,"Lucida Grande",Verdana,Lucida,Helvetica,sans-serif;
	font-size:0.9em;
    margin: 0;
    padding: 0;
}
table {
    font-size: 100%;
}
a {
    background-color: transparent;
    color: #185dc6;
}
img {
    border: medium none;
    vertical-align: middle;
}
p {
    line-height: 1.5em;
    margin: 0 0 0.75em;
}
p img {
    border: medium none;
    margin: 0;
}
hr {
    background-color: #63656b;
    border: 0 none;
    color: #63656b;
    height: 1px;
    margin: 0.5em 0 1em;
}
h1, h2, h3, h4, h5, h6 {
    background-color: transparent;
    border-bottom: 1px solid #63656b;
    color: Black;
    font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin: 0 0 0.25em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: Black !important;
    text-decoration: none;
}
h1 {
    font-size: 160%;
}
h2 {
    font-size: 150%;
}
h3 {
    border-bottom: medium none;
    font-size: 125%;
    font-weight: bold;
}
h4 {
    border-bottom: medium none;
    font-size: 110%;
    font-weight: bold;
}
h5 {
    border-bottom: medium none;
    font-size: 100%;
    font-weight: bold;
}
h6 {
    border-bottom: medium none;
    font-size: 85%;
    font-weight: bold;
}
ul {
    line-height: 1.5em;
    list-style-image: url("http://www.uha.fr/bullet.gif");
    list-style-type: none;
    margin: 0.5em 0 0 1.5em;
    padding: 0;
}
ol {
    line-height: 1.5em;
    list-style-image: none;
    margin: 0.5em 0 0 2.5em;
    padding: 0;
}
li {
    margin-bottom: 0.5em;
}
dt {
    font-weight: bold;
}
dd {
    line-height: 1.5em;
    margin-bottom: 1em;
}
fieldset {
    border: 1px solid #63656b;
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 1em 1em;
    width: auto;
}
legend {
    background: none repeat scroll 0 0 White;
    font-size: 90%;
    padding: 0.5em;
}
form {
    border: medium none;
    margin: 0;
}
label {
    font-weight: bold;
}



#header {
    width:1000px;
	height:100px;
	
	margin:auto;
	background-position:center;
	background-image:url(../img/logo1.jpg );
	background-repeat:no-repeat;
	
    /*background-size:cover;	*/
	
		
}
#portal-siteactions {
  position: absolute;
  
  left: 1018px;
  top: 25px;
  z-index: 5;
}
#portal-siteactions li {
    display: list-item;
	line-height: 1px;
    margin: 2px;
    padding: 0px;
	
}
#portal-siteactions li a {
  border: medium none;
  color: #94c3ff;
  border: none;
  text-transform: uppercase;
  padding-left: 14px;
  font-size: 10.5px;
  list-style-type: none;
}
#portal-siteactions li a:hover {
    background-color: transparent;
    border: medium none;
    color: white;
}
.liste_style{
font-weight: bold;
}




#emptyspace {
	
    width:1000px;
	height:15px;
	background-color:#ffdb42;
	margin:auto;
	background-position:center;
	background-repeat:no-repeat;
    	      
}
#linkpositioning{
margin-left:96%;
}

#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}

#lowerpage {
	width:1000px;
	margin:auto;
	background-position:center;
    background-color: transparent;
    margin-left:9% ;
	height:500px;
    padding:0;
}
#lowerpage-columns {
	
    border-collapse: collapse;
    border-spacing: 0;
    width: 100% !important;
	
}




#lowerpage-column-one {
 
    border-collapse: collapse;
   /* padding: 0;*/
    vertical-align: top;
    width: 16em;
   padding: 1em;
	
  /*border-left: 1px solid #63656b;
  border-right: 1px solid #63656b;
  border-top: 1px solid #63656b;
  border-bottom: 1px solid #63656b;*/
}

tr.dragging td {
    background-color: yellow;
}
.draggingHook {
    cursor: move;
}
.notDraggable {
}
}

dl.portlet {
    background-color: White;
    border-bottom: 1px solid #63656b;
    margin: 1px 0 1em;
}
dl.portlet a {
    text-decoration: none;
}
.portlet a.tile {
    display: block;
	color:white;
	font: 100% Futura,Arial,"Lucida Grande",Verdana,Lucida,Helvetica,sans-serif;
	font-size:1.5em;
}
dd.portletItem a, dd.portletFooter a {
    /*border-bottom: medium none;*/
	
	 border-bottom: 1px solid White;
	
}
dd.portletItem a:visited, dd.portletFooter a:visited {
    color: #185dc6;
}

.portletHeader {
    background-color: #103c84;
	background-size:cover;
    border: 1px solid #63656b;
    font-weight: normal;
    line-height: 1.6em;
    padding: 0 1em;
    text-transform: lowercase;
}
.portletHeader a {
    color: Black;
}
.portletItem {
    border-left: 1px solid #63656b;
    border-right: 1px solid #63656b;
    margin: 0;
	
    padding: 1em;
}
.portletItemDetails {
    color: Black;
    display: block;
    text-align: right;
}
dd.portletFooter {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eef3f5;
    border-color: #63656b;
    border-image: none;
    border-style: dotted solid none;
    border-width: 1px;
    margin: 0;
    padding: 0.25em 1em;
    text-align: right;
}


#portlet-navigation-tree{

background-color: #e7ebef;
border-bottom: 1px solid #63656b;


}

#lowerpage-column-content {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#lowerpage-footer {
    background-color: #fffff;
	width:1100px;
	height:18px;
	position:relative;
	 margin-left:9% ;
    border-bottom: 1px solid #63656b;
    /*border-top: 1px solid #63656b;*/
    float: none;
    line-height: 1.2em;
    /*margin: 2em 0 1em;*/
    padding: 0.5em 0 1em;
    text-align: center;
}
#etat {
    background-color:  #ff0000;
	 width: 10em;  
	 height: 2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    cursor: pointer;
    border:none;
}
